<!DOCTYPE html>
<html>
  <head>
   <title>Pierre</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
  </head>

  <div class="nav">
            <ul>
            <div class="container">
              <div class="row">
                  <div class="col-xs-4 col-md-4">
              <li class="myprofile"><a href="/"> pierre </a></li>
                  </div>
                  <div class="col-xs-4 col-md-4">
                    <section>
                      <input type="text" id="searchbar" placeholder="Search colleges" size="10">
                        <a href="./browse"><span class="glyphicon glyphicon-search"</a>
                    </section>
                  </div>
                  <div class="col-xs-4 col-md-4">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> More <span class="caret"></span>
                        <ul class="dropdown-menu">
                          <li><a href="/login">Login</a></li>
                          <li><a href="/dashboard">Appointments</a></li>
                          <!-- Placeholders -->
                          <li><a href="/editmenteeacc"> Edit Account</a> </li>
                          <li><a href="/editmentoracc"> Edit mentor acc</a></li>
                          <!-- <li><a href="/studentbio">Page 1</a></li>-->
                        </ul>
                    </li>
                  </div>
              </div>
            </div>
            </ul>
  </div>

  <body>
    {{{body}}}
</br>
    <footer>
        <div class="footer">

          <div class="container">
            <div class="row">
              <div class="col-xs-4 col-md-4">
                <a href="/about" class="footer"> About </a>
              </div>
                <div class="col-xs-4 col-md-4">
                  <a href="/FAQ" class="footer"> FAQ </a>
                </div>
                <div class="col-xs-4 col-md-4">
                  <a href="/contactus" class="footer"> Contact Us </a>
                </div>
            </div>
          </div>

        </div>
    </footer>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>
