<!DOCTYPE html>
<html>
  <head>
   <title>Pierre</title>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
  </head>

  <body>
    <header>
      <div class="nav-wrapper">
        <div class="site-title"><a href="/">pierre</a></div>
        <div id="nav-icon1" class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="main-navigation" role='navigation'>
          <ul>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/dashboard">APPOINTMENTS</a></li>
            <li><a href="/browse">BROWSE COLLEGES</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="body-container">
    {{{body}}}
    </div>
<!--     <footer>
        <div class="footer">

          <div class="container">
            <div class="row">
              <div class="col-xs-4 col-md-4">
                <a href="/about" class="footer"> About </a>
              </div>
                <div class="col-xs-4 col-md-4">
                  <a href="/FAQ" class="footer"> FAQ </a>
                </div>
                <div class="col-xs-4 col-md-4">
                  <a href="/contactus" class="footer"> Contact Us </a>
                </div>
            </div>
          </div>

        </div>
    </footer> -->

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>
