<center>
	Your appointment is at: 12:12PM on Tuesday, February 29, 2016.
	Here is your video chat:
<!-- <a href="https://plus.google.com/hangouts/_?gid=lunar-spring-121405" style="text-decoration:none;">
<img src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-15x79-normal.png"
alt="Start a Hangout"
style="border:0;width:79px;height:15px;"/>
</a> -->

<iframe width="300" height="315" src="//www.youtube.com/embed/RMO1fXGMY64" frameborder="0" allowfullscreen></iframe>
<!--<form name="checkapp">
	<label for="appnum"> Confirmation Number: </label></br>
	<input type="text" size="30">
	<label for="conemail"> Confirmation Email: </label></br>
	<input text="text" size="30"></br>
	<input type="submit" value="Submit" action="#">-->
</form></center></br>
