<div class="browse-background">
  <div class="navbar"></div>
  <div class="browse-container">

    <div class="browse-college-item">
      <div class="browse-college-img">
        <img src="images/ucsd.jpg" />
      </div>
      <div class="browse-college-info">
        <span class="browse-college-name">UC San Diego</span><br/>
        <span class="browse-college-location">La Jolla, CA</span><br/>
        <section class="browse-college-text">
          <div class="glyphicon glyphicon-th"></div>
          <span>23 representatives</span><br/>
          <div class="glyphicon glyphicon-th"></div>
          <span>24,000 undergrads</span><br/>
          <div class="glyphicon glyphicon-th"></div>
          <span>33% acceptance</span>
        <section>
      </div>
    </div>

        <div class="browse-college-item">
      <div class="browse-college-img">
        <img src="images/ucsd.jpg" />
      </div>
      <div class="browse-college-info">
        <span class="browse-college-name">UC San Diego</span><br/>
        <span class="browse-college-location">La Jolla, CA</span><br/>
        <section class="browse-college-text">
          <div class="glyphicon glyphicon-th"></div>
          <span>23 representatives</span><br/>
          <div class="glyphicon glyphicon-th"></div>
          <span>24,000 undergrads</span><br/>
          <div class="glyphicon glyphicon-th"></div>
          <span>33% acceptance</span>
        <section>
      </div>
    </div>

    <div class="browse-college-item">
      <div class="browse-college-img">
        <img src="images/ucsd.jpg" />
      </div>
      <div class="browse-college-info">
        <span class="browse-college-name">UC San Diego</span><br/>
        <span class="browse-college-location">La Jolla, CA</span><br/>
        <section class="browse-college-text">
          <div class="glyphicon glyphicon-th"></div>
          <span>23 representatives</span><br/>
          <div class="glyphicon glyphicon-th"></div>
          <span>24,000 undergrads</span><br/>
          <div class="glyphicon glyphicon-th"></div>
          <span>33% acceptance</span>
        <section>
      </div>
    </div>


    <div class="browse-college-item">
      <div class="browse-college-img">
        <img src="images/ucsd.jpg" />
      </div>
      <div class="browse-college-info">
        <span class="browse-college-name">UC San Diego</span><br/>
        <span class="browse-college-location">La Jolla, CA</span><br/>
        <section class="browse-college-text">
          <div class="glyphicon glyphicon-th"></div>
          <span>23 representatives</span><br/>
          <div class="glyphicon glyphicon-th"></div>
          <span>24,000 undergrads</span><br/>
          <div class="glyphicon glyphicon-th"></div>
          <span>33% acceptance</span>
        <section>
      </div>
    </div>

  </div>
</div>