<body>

<div class="nav">
          <ul>
          <div class="container">     
            <div class="row">
                <div class="col-xs-4 col-md-4">
            <li class="myprofile"><a href="#">Profile</a></li>
                </div>
                <div class="col-xs-4 col-md-4">
            <li class="myschools"><a href="#">My Schools</a></li>
                </div>
                <div class="col-xs-4 col-md-4">
            <li class="myappointments"><a href="#">Appointments</a></li>
                </div>
            </div>
        </div>
          </ul>
        </div>
    </header>

<h1><a href="/"> Pierre! </a></h1>


	contact us page 



<footer>
    <div class="nav">
            <ul>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="./about"> About Us </a></p>
                        </div>      
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="./faq">FAQ </a></p>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="./contactus"> Contact Us </a></p>
                        </div>
                    </div>
                </div>
            </ul>        
    </div>
</footer>
</body>