<center>Contact us at pierreapp@gmail.com! Or leave a comment below:
    <tr></br>
        <textarea  name="comments" maxlength="1000" cols="25" rows="6"></textarea>
    </tr>
    <a href="/">
<form method="submitcontact" action="mailto:c4hong@ucsd.edu">
    <input type="button" value="Submit"></a>
</form></center></br>
