{{> navbar}}
<center>
  <div class="title">New Mentee Account</div>
  {{#if message}}
    <div class="alert alert-danger">{{message}}</div>
  {{/if}}


  <form action="/signup/mentee" method="post">
    <input type="hidden" name="isMentor" value="false">
    <div class="create-form-item">
      <div>
        <div>
          <label for="name">Full Name</label>
        </div>
        <input type="text" name="name" maxlength="25" size="25" />
      </div>

      <div>
        <div>
          <label for="email">Email</label>
        </div>
        <input type="email" name="email" maxlength="25" size="25" />
      </div>

      <div>
        <div>
          <label for="password">Password</label>
        </div>
        <input type="password" name="password" maxlength="25" size="25">
      </div>

    </div>

    <section class="create-account">
      <div class="create-account-button">
        <input class="roundbutton" type="submit" value="Create Account" />
      </div>
    </section>
  </form>

</center>