{{> navbar}}

<section class="create-account-login-container">
  <section class="test">
    <section class="home-start-text">
      <div class="home-start-title">Ready to Start?</div>
      <div class="home-start-details">Let's create an account to start connecting with other students</div>
    </section>

    <div class="home-start-button rounded-button">
      <a href="/signup/mentee" class="createaccount2_2nd">I'm a high school student</a>
    </div>
    <div class="home-start-text-or">or</div>
    <div class="home-start-button rounded-button">
      <a href="/signup/mentor" class="createaccount2_2nd">I'm a college mentor</a>
    </div>
  </section>
</section>
