<center>
<div class="title"> Welcome Mentors! </div>
<div class="create-form-item">
<tr>
    <label for="name">Full Name:</label>
  </tr>
<tr></br>
    <input  type="text" name="Full Name" maxlength="25" size="25">
</tr></br>
<tr>
    <label for="email">Email:</label>
</tr>
<tr></br>
    <input  type="text" name="Email" maxlength="25" size="25">
</tr></br>
<tr>
    <label for="password">Password:</label>
</tr>
<tr></br>
    <input  type="text" name="Password" maxlength="25" size="25">
</tr></br>
<tr>
    <label for="confirm password">Confirm Password:</label>
</tr>
<tr></br>
    <input  type="text" name="Confirm Password" maxlength="25" size="25">
</tr></br>
</tr></br>
</tr></br>
</div>
<input type="checkbox" name="password" value="passwordRemember"> Remember Password<br>

</tr></br>

<section class="create-account">
  <div class="create-account-button">
  <a class="roundbutton" href="./create_mentor">Create Account</a>
  </div>
 </tr></br>

</tr>
</br>
</br>

</center>
