<center>

    <div class="title"> Let us get to know you! </div>

  <section class="create-form">
<!--    <div class="create-form-item">
      <label>Full Name</label></br>
      <input type="text"><br>
    </div> -->
    <div class="create-form-item">
      <label>LOCATION</label></br>
      <input type="text" placeholder="Enter your city and state"><br>
    </div>
    <div class="create-form-item">
      <label>ABOUT YOU</label><br>
      <textarea class="create-form-bio" maxlength="200" placeholder="I'm here to learn about..."></textarea>
    </br>
    </br>
    <section class="create-account">
      <div class="create-button">
        <a class="roundbutton" href="/browse">Create</a>
      </div>
    </section>
  </section>
</center>
