{{> navbar}}

<section class="confirmation-container">
  <section class="studentpage-apt-confirm-container">
  <div class="studentpage-apt-confirm-title">You're All Set!</div>
    <div class="studentpage-apt-confirm-details">You and your mentor will receive a Google Hangout link at</div>
    <div class="confirmation-time">{{date}} from {{time}}</div>
    <a href="/dashboard"><input type="submit" class="rounded-button" value="View Appointments"></a>
  </section>
</section>