You created an appointment!
You will receive a confirmation email shortly. <br>
Your video chat is located in "Appointments." <br>
Please arrive on time. Thank you! <br>
<a href="/dashboard">View my appointments</a>