{{> navbar}}
<center>
<div class="title">
  Confirmation
</div>
</center>
<p class="appointment-text">
You created an appointment!
You will receive a confirmation email shortly.
Your video chat is located in "Appointments."
Please arrive on time. Thank you! </br></p>
<center>
<a href="/dashboard" class="roundbutton">View my Appointments</a>
</center>
