<center>
<div class="title">
  Edit Mentor Account
</div>
<div class="editmentee">
  <h6 class="formh6"> NAME </h6>
  <input type="text" name="name" placeholder="Enter your full name"><br>
  <h6 class="formh6"> EMAIL </h6>
  <input type="text" name="email" placeholder="Enter your email"><br>
  <h6 class="formh6"> COLLEGE </h6>
  <input type="text" name="college" placeholder="Enter your college here"><br>
  <h6 class="formh6"> BACKGROUND</h6>
  <textarea  name="text" maxlength="1000" cols="25" rows="10" placeholder="Tell us about yourself! What are you studying?"></textarea>
  <h6 class="formh6"> HOW CAN YOU HELP?</h6>
  <textarea  name="text" maxlength="1000" cols="25" rows="10" placeholder="How can you help?"></textarea>
  <br>
  <br>
</div></br>
<a href="/" class="roundbutton">Save Changes</a>

</center>
