    <h3 class="question">What is Pierre?</h3>
        <p class="faq">
        Pierre is a website that caters towards high school seniors who are tackling the task of applying colleges. By providing personal experiences from students attending different colleges, high school seniors can make informed decisions during the application and acceptance process.
    </p>
