{{> navbar}}
<head>
<!-- Google Analytics Content Experiment code
<script>function utmx_section(){}function utmx(){}(function(){var
k='117565072-3',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
End of Google Analytics Content Experiment code -->
</head>
<section>
  <section class="home-intro-container">
    <section class="home-intro-text">
      <div class="home-slogan">Real Students, Honest Stories</div>
      <div class="home-slogan-details">Understand different campus experiences from actual college students</div>
    </section>
    <div class="rounded-outline-button">
      <a id="home-tour" href="#home-tutorial">Take a Tour</a>
    </div>
  </section>

  <section id="home-tutorial" class="home-guide-container">
    <section class="home-guide-content">
      <div class="home-guide-item">
        <div class="home-guide-img">
          <img src="https://image005.flaticon.com/1/svg/74/74472.svg" />
        </div>
        <div class="home-guide-text">
          <div class="home-guide-name">YOU</div>
          <div class="home-guide-desc">Joe is a senior in high school that was accepted into some colleges, but doesn’t know which is best for him</div>
        </div>
      </div>
      <div class="home-guide-item">
        <div class="home-guide-img">
          <img src="https://image005.flaticon.com/1/svg/33/33308.svg" />
        </div>
        <div class="home-guide-text">
          <div class="home-guide-name">pierre</div>
          <div class="home-guide-desc">pierre allows Joe to connect with mentors from different colleges so that he doesn’t spend money traveling to all the colleges</div>
        </div>
      </div>
      <div class="home-guide-item">
        <div class="home-guide-img">
          <img src="https://image005.flaticon.com/1/svg/68/68045.svg" />
        </div>
        <div class="home-guide-text">
          <div class="home-guide-name">MENTOR</div>
          <div class="home-guide-desc">Sally shares her honest college experience, and tells cool stories along the way so that Joe is better informed to make his decision</div>
        </div>
      </div>
    </section>
  </section>

  <section id="home-start-account" class="home-start-container">
    <section class="home-start-text">
      <div class="home-start-title">Ready to Start?</div>
      <div class="home-start-details">Let's create an account to start connecting with other students</div>
    </section>

    <div class="home-start-button rounded-button">
      <a href="/signup/mentee">I'm a high school student</a>
    </div>
    <div class="home-start-text-or">or</div>
    <div class="home-start-button rounded-button">
      <a href="/signup/mentor">I'm a college mentor</a>
    </div>

  </section>

</section>
<!--
<a href="/index_2"> Redesign page </a> --> 
