
<div class="nav">
          <ul>
          <div class="container">     
            <div class="row">
                <div class="col-xs-4 col-md-4">
            <li class="myprofile"><a href="#">Profile</a></li>
                </div>
                <div class="col-xs-4 col-md-4">
            <li class="myschools"><a href="#">My Schools</a></li>
                </div>
                <div class="col-xs-4 col-md-4">
            <li class="myappointments"><a href="./appointments">Appointments</a></li>
                </div>
            </div>
        </div>
          </ul>
        </div>
    </header>

<header>
</br>
  <a href="/" class="myButton">Welcome to Pierre</a>
  <h3>Find your college</h3> 
</header>
<section>
  <input type="text" placeholder="Search colleges">
  <a href="/browse">Search</a>
</section>
<section id="schools">
  <div class="container">
    <div class="row">
     <div class="col-xs-4 col-md-4">
      <img src="http://cdn.shopify.com/s/files/1/0213/2686/products/TO_HashtagTriton_01_grande.jpg?v=1397167998" alt="" class="img-responsive img-circle" width="75px">
    </div>      
    <div class="col-xs-4 col-md-4">
      <img src="https://c3.staticflickr.com/7/6180/6176530185_eccd397044.jpg" alt="" class="img-responsive img-circle" width="75px">
    </div>
    <div class="col-xs-4 col-md-4">
      <img src="http://cdn.shopify.com/s/files/1/0084/9282/products/Law_School-Gray-W_copy.jpg?v=1404850793" alt="" class="img-responsive img-circle" width="75px">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <h3> <a href="./ucsd">UC San Diego </a></h3>
    </div>
    <div class="col-xs-4 col-md-4">
      <h3> <a href="./stanford">Stanford </a></h3>
    </div>
    <div class="col-xs-4 col-md-4">
      <h3> <a href="./harvard">Harvard </a></h3>
    </div>
  </div>
</div>
<footer>
    <div class="nav">
            <ul>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="./about"> About Us </a></p>
                        </div>      
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="./faq">FAQ </a></p>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="./contactus"> Contact Us </a></p>
                        </div>
                    </div>
                </div>
            </ul>        
    </div>
</footer>
</section>