<body>
    <div>
        <center><h1> Welcome to </br>AdvicePro! </h1></center>
    </div>
        <select>
            <option value="home">Home</option>
            <option value="schools">Schools</option>
            <option value="application">Application</option>
            <option value="financial">Financial</option>
            <option value="help">Help</option>
        </select>
    </br>
</br>

    <p> Learn about their experiences! </p>
	   <div class="ucsd">
			<div class="col-md-3">
            <img src="http://muir.ucsd.edu/academics/advising/Ayesha1.JPG" alt="" class="img-responsive img-circle" width="300px">
            <h3> UC San Diego </h3>
            </div>
        </div>

        <div class="harvard">
            <div class="col-md-3">
            <img src="https://college.harvard.edu/sites/default/files/styles/grid_video_thumb/public/_landing_page_curated_video/dayinthelife.png?itok=dkrmwKmj" alt="" class="img-responsive img-circle" width="300px">
            <h3> Harvard </h3>
            </div>
        </div>
        
		<div class="stanford">
            <div class="col-md-3">
            <img src="http://blog.chegg.com/wp-content/uploads/2010/10/sunny-huang1.jpg" alt="" class="img-responsive img-circle" width="300px">
            <h3> Stanford </h3>
            </div>
        </div>


	</body>
