<body>
    <div>
        <center><h1> Welcome to </br>AdvicePro! </h1>
    </div>
        <select>
            <option value="home">Home</option>
            <option value="schools">Schools</option>
            <option value="application">Application</option>
            <option value="financial">Financial</option>
            <option value="help">Help</option>
        </select>
    </br>
</br>

    <p> Learn about their experiences! </p> </center>
    <section id="schools">
	   <div class="ucsd">
			<div class="col-md-3">
            <img src="http://muir.ucsd.edu/academics/advising/Ayesha1.JPG" alt="" class="img-responsive img-circle" height = "" width="100px">
            <h3> UC San Diego </h3>
            </div>
        </div>

        <div class="stanford">
            <div class="col-md-3">
            <img src="https://c3.staticflickr.com/7/6180/6176530185_eccd397044.jpg" alt="" class="img-responsive img-circle" width="100px">
            <h3> Stanford </h3>
            </div>
        </div>

        <div class="harvard">
            <div class="col-md-3">
            <img src="http://cdn.shopify.com/s/files/1/0084/9282/products/Law_School-Gray-W_copy.jpg?v=1404850793" alt="" class="img-responsive img-circle" width="100px">
            <h3> Harvard </h3>
            </div>
        </div>
</section>

	</body>
