<body>
    <header>
        <div class="nav">
          <ul>
          <div class="container">     
            <div class="row">
                <div class="col-xs-4 col-md-4">
            <li class="myprofile"><a href="#">Profile</a></li>
                </div>
                <div class="col-xs-4 col-md-4">
            <li class="myschools"><a href="#">My Schools</a></li>
                </div>
                <div class="col-xs-4 col-md-4">
            <li class="myappointments"><a href="#">Appointments</a></li>
                </div>
            </div>
        </div>
          </ul>
        </div>
    </header>
</br>


    <div>
        <h1> Welcome to </br>Pierre! </h1>
    </div>
        <select>
            <option values="select"></option>
            <option value="home">Home</option>
            <option value="forum">Forum</option>
            <option value="schools">Schools</option>
            <option value="application">Application</option>
            <option value="financial">Financial</option>
            <option value="help">Help</option>
        </select>
    </br>
</br>


<!-- Use of this code assumes agreement with the Google Custom Search Terms of Service. -->
<!-- The terms of service are available at http://www.google.com//cse/docs/tos.html -->
<form name="cse" id="searchbox_demo" action="https://www.google.com/cse">
  <input type="hidden" name="cref" value="" />
  <input type="hidden" name="ie" value="utf-8" />
  <input type="hidden" name="hl" value="" />
  <input name="q" type="text" size="40" />
  <input type="submit" name="sa" value="Search" />
</form>
</br>
                                

    <p> Learn more about their experiences! </p> 

<section id="schools">
    <div class="container">
        <div class="row">
    			<div class="col-xs-4 col-md-4">
                    <img src="http://cdn.shopify.com/s/files/1/0213/2686/products/TO_HashtagTriton_01_grande.jpg?v=1397167998" alt="" class="img-responsive img-circle" width="75px">
                </div>      
                <div class="col-xs-4 col-md-4">
                    <img src="https://c3.staticflickr.com/7/6180/6176530185_eccd397044.jpg" alt="" class="img-responsive img-circle" width="75px">
                </div>
                <div class="col-xs-4 col-md-4">
                    <img src="http://cdn.shopify.com/s/files/1/0084/9282/products/Law_School-Gray-W_copy.jpg?v=1404850793" alt="" class="img-responsive img-circle" width="75px">
                </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
                <div class="col-xs-4 col-md-4">
                    <h3> UC San Diego </h3>
                </div>
                <div class="col-xs-4 col-md-4">
                    <h3> Stanford </h3>
                </div>
                <div class="col-xs-4 col-md-4">
                    <h3> Harvard </h3>
                </div>
        </div>
    </div>
    
    <div class="nav">
        <div class="footer">
            <ul>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="#"> About Us </a></p>
                        </div>      
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="#">FAQ </a></p>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="#"> Contact Us </a></p>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>

</body>
