{{> navbar}}
<center>
  <div class="title">Login</div>

  {{#if message}}
    <div class="alert alert-danger">{{message}}</div>
  {{/if}}

  <br>

  <form action="/login" method="post">
    <div>
      <div class="pagecolor">Email</div>
       <input  type="email" name="email" class="pagecolor" placeholder="Enter your email" maxlength="25" size="25" />
    </div>
    <br>
    <div>
      <div class="pagecolor">Password</div>
      <input  type="password" name="password" class="pagecolor" placeholder="Enter your password" maxlength="25" size="25" />
    </div>
    <br>
    <div>
      <div>Need an account?</div>
      <a id="login-account-link" href="/#home-start-account"> Create an account here </a>
    </div>

    <br>

    <section class="Login">
      <div class="Login-button">
        <input class="roundbutton" type="submit" value="Login" />
      </div>
    </section>
  </form>
</center>
