{{> navbar}}
<head>
  <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='117565072-4',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->


</head>

<center>
  <div class="title">Login</div>
</center>

{{#if message}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}

<form action="/login" method="post">
  <section class="login-container">

    <div class="form-input-container">
      <div class="form-input-label">EMAIL</div>
      <input class="form-input form-control" name="email" type="email" placeholder="Enter your email" />
    </div>


    <div class="form-input-container">
      <div class="form-input-label">PASSWORD</div>
      <input type="password" class="form-input" name="password" placeholder="Enter your password" required>
    </div>

    <div class="login-account-container">
      <div>Need an account?</div>
      <a id="login-account-link" href="/#home-start-account"> Create an account here </a>
    </div>

    <div class="form-input-button">
      <input class="rounded-button" type="submit" value="Login" />
    </div>

  </section>
</form>
