<center>
<h3> Login Here! </h3>

<tr>
    <label for="username">Login:</label>
  </tr>
<tr></br>
    <input  type="text" name="username" maxlength="25" size="25">
</tr></br>
<tr>
    <label for="password">Password:</label>
</tr>
<tr></br>
    <input  type="text" name="password" maxlength="25" size="25">
</tr></br>
</tr></br>
<div id="button"><a href="/dashboard">Log In</a></div>
</tr></br>

</tr>
</br>
</br>

</center>

