<center>
<h3> Login Here! </h3>

<tr>
    <label for="email">Email:</label>
  </tr>
<tr></br>
    <input  type="text" name="username" maxlength="25" size="25">
</tr></br>
<tr>
    <label for="password">Password:</label>
</tr>
<tr></br>
    <input  type="text" name="password" maxlength="25" size="25">
</tr></br>
</tr></br>

<input type="checkbox" name="password" value="passwordRemember"> Remember Password<br>

</br>

<section class="Login">
  <div class="Login-button">
  <a class="roundbutton" href="./index">Login</a>
  </div>
 </tr></br>


  <div class="create-account-button">
    <a class="roundbutton" href="/create_account_from_login">Create Account</a>
  </div>
</section>


</tr>
</br>
</br>

</center>

