{{> navbar}}
<center>
  <div class="title">Login</div>
</center>

{{#if message}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}

<form action="/login" method="post">
  <section class="login-container">

    <div class="form-input-container">
      <div class="form-input-label">EMAIL</div>
      <input class="form-input form-control" name="email" type="email" placeholder="Enter your email" />
    </div>


    <div class="form-input-container">
      <div class="form-input-label">PASSWORD</div>
      <input type="password" class="form-input" name="password" placeholder="Enter your password" required>
    </div>

    <div class="login-account-container">
      <div>Need an account?</div>
      <a id="login-account-link" href="/#home-start-account"> Create an account here </a>
    </div>

    <div class="form-input-button">
      <input class="rounded-button" type="submit" value="Login" />
    </div>

  </section>
</form>
