<center>
<div class="title">Login Here! </div>
</br>
<tr>
    <label for="email" class="pagecolor">EMAIL:</label>
  </tr>
<tr></br>
    <input  type="text" name="email" class="pagecolor" placeholder="Enter your email" maxlength="25" size="25">
</tr></br>
<tr>
    <label for="password" class="pagecolor">PASSWORD:</label>
</tr>
<tr></br>
    <input  type="text" name="password" class="pagecolor" placeholder="Enter your password" maxlength="25" size="25">
</tr></br>
</tr></br>

<input type="checkbox" name="password" value="passwordRemember"> Remember Password<br>

</br>
Need an account?</br>
<a href="/index"> Create an account here </a>
</br></br>
<section class="Login">
  <div class="Login-button">
  <a class="roundbutton" href="/browse">Login</a>
  </div>
 </tr></br>
</section>


</tr>
</br>
</br>

</center>
