<body>
<header>
<div class="nav">
          <ul>
          <div class="container">     
            <div class="row">
                <div class="col-xs-4 col-md-4">
            <li class="myprofile"><a href="#">Profile</a></li>
                </div>
                <div class="col-xs-4 col-md-4">
            <li class="myschools"><a href="#">My Schools</a></li>
                </div>
                <div class="col-xs-4 col-md-4">
            <li class="myappointments"><a href="#">Appointments</a></li>
                </div>
            </div>
        </div>
          </ul>
        </div>
    </header>

<a href="/" class="myButton">Pierre</a></div>
<div class="schoollogo"> 
	<img src="http://web.stanford.edu/dept/archplng/SU_altSigSeal_2col_pos.gif" alt="" height="75%" width="75%"> </div>
<h3> Click on a student if you want to ask them a question!</h3>

	<div class="student">
		<div id="stuPicture">
			<img src="http://cdn.shopify.com/s/files/1/0061/6462/products/STF977WV_1024x1024.jpg?v=1354125474" alt=""width="100px">
		</div>
		
		<div class="studentname">
			<a href="/student"> Meagan Rosen </a>
		</div>
		<ul>
			<li> 2nd Year </li>
			<li> Major: Communication </li>
			<li> Greek Sorority: Delta Delta Delta </li>
			<li> Extracurriculars: Tennis </li>
			<li> Lives: On-Campus Apartments </li>
		</ul>
	</div>

	<div class="student">
		<div id="stuPicture">
			<img src="https://c3.staticflickr.com/7/6180/6176530185_eccd397044.jpg" alt=""width="100px">
		</div>
		<div class="studentname">
			<a href="#"> Brandon Dye{{name}}</a>
		</div>
		<ul>
			<li> 3rd Year </li>
			<li> Major: Chemical Engineering </li>
			<li> Extracurriculars: Basketball</li>
			<li> Lives: Off-Campus Apartments </li>
		</ul>
	</div>

	<div class="student">
		<div id="stuPicture">
			<img src="https://s-media-cache-ak0.pinimg.com/564x/2b/66/7a/2b667a95b8097f673d5a664cc057dd2a.jpg" alt=""width="100px">
		</div>
		<div class="studentname">
			<a href="#"> Gabriel Castro</a>
		</div>
		<ul>
			<li> 4th Year </li>
			<li> Major: Physics </li>
			<li> Extracurriculars: Undergraduate Researcher, Football</li>
			<li> Lives: On-Campus Apartments </li>
		</ul>
	</div>

<footer>
    <div class="nav">
            <ul>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="./about"> About Us </a></p>
                        </div>      
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="./faq">FAQ </a></p>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="./contactus"> Contact Us </a></p>
                        </div>
                    </div>
                </div>
            </ul>        
    </div>
</footer>

</body>