<center>
<tr>
    <label for="first_name">First Name:</label>
  </tr>
<tr></br>
    <input  type="text" name="first_name" maxlength="25" size="25">
</tr></br>
<tr>
    <label for="last_name">Last Name:</label>
</tr>
<tr></br>
    <input  type="text" name="last_name" maxlength="25" size="25">
</tr></br>

<tr>
    <label for="email">Email Address:</label>
</tr>
<tr></br>
    <input  type="text" name="email" maxlength="80" size="25">
</tr></br>

<tr>
    <label for="telephone">Telephone Number:</label>
</tr>
<tr></br>
    <input  type="text" name="telephone" maxlength="30" size="25">
</tr></br>
<tr>
</center>
