<body>

<div class="nav">
          <ul>
          <div class="container">     
            <div class="row">
                <div class="col-xs-4 col-md-4">
            <li class="myprofile"><a href="#">Profile</a></li>
                </div>
                <div class="col-xs-4 col-md-4">
            <li class="myschools"><a href="#">My Schools</a></li>
                </div>
                <div class="col-xs-4 col-md-4">
            <li class="myappointments"><a href="#">Appointments</a></li>
                </div>
            </div>
        </div>
          </ul>
        </div>
    </header>

<a href="/" class="myButton">Pierre</a>
<div>Sally</div>
<div class="appointmentform">
<form name="htmlform" method="post" action="mailto:c4hong@ucsd.edu">
	<table width="450px">

	<tr>
  		<label for="first_name">First Name</label>
  	</tr>
	<tr></br>
  		<input  type="text" name="first_name" maxlength="25" size="25">
	</tr></br>
	<tr>
  		<label for="last_name">Last Name</label>
 	</tr>
 	<tr></br>
  		<input  type="text" name="last_name" maxlength="25" size="25">
	</tr></br>

	<tr>
  		<label for="email">Email Address</label>
 	</tr>
 	<tr></br>
  		<input  type="text" name="email" maxlength="80" size="25">
	</tr></br>

	<tr>
  		<label for="telephone">Telephone Number</label>
 	</tr>
 	<tr></br>
  		<input  type="text" name="telephone" maxlength="30" size="25">
	</tr></br>
	<tr>
  		<label for="mentor">Name of the Mentor/Mentee</label>
 	</tr>
 	<tr></br>
  		<input  type="text" name="mentor" maxlength="30" size="25">
	</tr></br>

	<tr>
  		<input type="radio" name="howtocontact"> Message  </br>
  		<input type="radio" name="howtocontact"> Video Chat </br> 
 	</tr></br>


<div class="calendar">
<p> Please check the calendar below for more info. If you would like to set up an appointment with a mentor, click on a date on the calendar.
	</br>Sally is avaliable on: 
	<select name="a" onchange="location = this.options[this.selectedIndex].value;">
		<option></option>
		<option value="#">Tuesday February 29, 2016: 3:00PM-4:00PM</option></br>
		<option value="#">Tuesday March 1, 2016: 11:00AM-12:30PM</option></br>
		<option value="#">Friday March 4, 2016: 3:00PM-4:00PM</option></br>
		<option value="#">Monday March 7, 2016: 7:00PM-8:00PM</option></br>
		<option value="#">Wednesday April 6, 2016: 5:00PM-6:00PM</option></br> 
	</select>
</p></div>

<div class="title">February 2016</div>
<table border="1" align="center">
<tr>
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
</tr>
<tr>
    <td><span class="date">&nbsp;</span></td>
    <td>
        <span class="date">1</span></td>
    <td><span class="date">2</span></td>
    <td><span class="date">3</span></td>
    <td><span class="date">4</span></td>
    <td><span class="date">5</span></td>
    <td><span class="date">6</span></td>
</tr>
<tr>
    <td><span class="date">7</span></td>
    <td><span class="date">8</span></td>
    <td><span class="date">9</span></td>
    <td><span class="date">10</span></td>
    <td><span class="date">11</span></td>
    <td><span class="date">12</span></td>
    <td><span class="date">13</span></td>
</tr>
<tr>
    <td><span class="date">14</span></td>
    <td><span class="date">15</span></td>
    <td><span class="date">16</span></td>
    <td><span class="date">17</span></td>
    <td><span class="date">18</span></td>
    <td><span class="date">19</span></td>
    <td><span class="date">20</span></td>
</tr>
<tr>
    <td><span class="date">21</span></td>
    <td><span class="date">22</span></td>
    <td><span class="date">23</span></td>
    <td><span class="date">24</span></td>
    <td><span class="date">25</span></td>
    <td><span class="date">26</span></td>
    <td><span class="date">27</span></td>
</tr>
<tr>
    <td><span class="date">28</span></td>
    <td class="avaliable"><span class="date">29</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
</tr>
</table>
<p><div class="title">March 2016</div>
<table border="1" align="center">
<tr>
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
</tr>
<tr>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td class="avaliable"><span class="date">1</span></td>
    <td><span class="date">2</span></td>
    <td><span class="date">3</span></td>
    <td class="avaliable"><span class="date">4</span></td>
    <td><span class="date">5</span></td>
</tr>
<tr>
    <td><span class="date">6</span></td>
    <td class="avaliable"><span class="date">7</span></td>
    <td><span class="date">8</span></td>
    <td><span class="date">9</span></td>
    <td><span class="date">10</span></td>
    <td><span class="date">11</span></td>
    <td><span class="date">12</span></td>
</tr>
<tr>
    <td><span class="date">13</span></td>
    <td><span class="date">14</span></td>
    <td><span class="date">15</span></td>
    <td><span class="date">16</span></td>
    <td><span class="date">17</span></td>
    <td><span class="date">18</span></td>
    <td><span class="date">19</span></td>
</tr>
<tr>
    <td><span class="date">20</span></td>
    <td><span class="date">21</span></td>
    <td><span class="date">22</span></td>
    <td><span class="date">23</span></td>
    <td><span class="date">24</span></td>
    <td><span class="date">25</span></td>
    <td><span class="date">26</span></td>
</tr>
<tr>
    <td><span class="date">27</span></td>
    <td><span class="date">28</span></td>
    <td><span class="date">29</span></td>
    <td><span class="date">30</span></td>
    <td><span class="date">31</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
</tr>
</table>
<p><div class="title">April 2016</div>
<table border="1" align="center">
<tr>
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
</tr>
<tr>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">1</span></td>
    <td><span class="date">2</span></td>
</tr>
<tr>
    <td><span class="date">3</span></td>
    <td><span class="date">4</span></td>
    <td><span class="date">5</span></td>
    <td class="avaliable"><span class="date">6</span></td>
    <td><span class="date">7</span></td>
    <td><span class="date">8</span></td>
    <td><span class="date">9</span></td>
</tr>
<tr>
    <td><span class="date">10</span></td>
    <td><span class="date">11</span></td>
    <td><span class="date">12</span></td>
    <td><span class="date">13</span></td>
    <td><span class="date">14</span></td>
    <td><span class="date">15</span></td>
    <td><span class="date">16</span></td>
</tr>
<tr>
    <td><span class="date">17</span></td>
    <td><span class="date">18</span></td>
    <td><span class="date">19</span></td>
    <td><span class="date">20</span></td>
    <td><span class="date">21</span></td>
    <td><span class="date">22</span></td>
    <td><span class="date">23</span></td>
</tr>
<tr>
    <td><span class="date">24</span></td>
    <td><span class="date">25</span></td>
    <td><span class="date">26</span></td>
    <td><span class="date">27</span></td>
    <td><span class="date">28</span></td>
    <td><span class="date">29</span></td>
    <td><span class="date">30</span></td>
</tr>
</table>

<!--
<p><div class="footer">
Generated by <a href="http://freehtmlcalendar.com">FreeHTMLCalendar.com</a> Copyright &copy; 2011 John Dalbey.</div> -->


	<tr>
  		<label for="comments">Comments</label>
 	</tr>
 	<tr></br>
  		<textarea  name="comments" maxlength="1000" cols="25" rows="6"></textarea>
	</tr>
	</table>
</form>
<a href="/done">Create appointment</a>
</div>
<footer>
    <div class="nav">
            <ul>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="./about"> About Us </a></p>
                        </div>      
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="./faq">FAQ </a></p>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="./contactus"> Contact Us </a></p>
                        </div>
                    </div>
                </div>
            </ul>        
    </div>
</footer>
</body>