</br><p> Set up an appointment to video chat with a mentor! </p>

<div class="appointmentform">
<form name="htmlform" method="post" action="mailto:c4hong@ucsd.edu">
	<table width="450px">


  		<label for="mentor">Name of the Mentor:</label>
 	</tr>
 	<tr></br>
  		{{name}}
	</tr></br>

</br>


<div class="calendar">
<p> Please check the calendar below for more info. If you would like to set up an appointment with a mentor, click on a date on the calendar.
	</br>Sally is avaliable on:
	<select name="a" onchange="location = this.options[this.selectedIndex].value;">
		<option></option>
		<option value="#">Tuesday February 29, 2016: 3:00PM-4:00PM</option></br>
		<option value="#">Tuesday March 1, 2016: 11:00AM-12:30PM</option></br>
		<option value="#">Friday March 4, 2016: 3:00PM-4:00PM</option></br>
		<option value="#">Monday March 7, 2016: 7:00PM-8:00PM</option></br>
		<option value="#">Wednesday April 6, 2016: 5:00PM-6:00PM</option></br>
	</select>
</p></div>


<table align="center">
    <td class="avaliabilitybox"> </td>
    <td>:Day when the mentor/mentee is avaliable.</td>
</table>


<div class="title">February 2016</div>
<table border="1" align="center">
<tr>
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
</tr>
<tr>
    <td><span class="date">&nbsp;</span></td>
    <td>
        <span class="date">1</span></td>
    <td><span class="date">2</span></td>
    <td><span class="date">3</span></td>
    <td><span class="date">4</span></td>
    <td><span class="date">5</span></td>
    <td><span class="date">6</span></td>
</tr>
<tr>
    <td><span class="date">7</span></td>
    <td><span class="date">8</span></td>
    <td><span class="date">9</span></td>
    <td><span class="date">10</span></td>
    <td><span class="date">11</span></td>
    <td><span class="date">12</span></td>
    <td><span class="date">13</span></td>
</tr>
<tr>
    <td><span class="date">14</span></td>
    <td><span class="date">15</span></td>
    <td><span class="date">16</span></td>
    <td><span class="date">17</span></td>
    <td><span class="date">18</span></td>
    <td><span class="date">19</span></td>
    <td><span class="date">20</span></td>
</tr>
<tr>
    <td><span class="date">21</span></td>
    <td><span class="date">22</span></td>
    <td><span class="date">23</span></td>
    <td><span class="date">24</span></td>
    <td><span class="date">25</span></td>
    <td><span class="date">26</span></td>
    <td><span class="date">27</span></td>
</tr>
<tr>
    <td><span class="date">28</span></td>
    <td class="avaliable"><span class="date">29</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
</tr>
</table>
<p><div class="title">March 2016</div>
<table border="1" align="center">
<tr>
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
</tr>
<tr>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td class="avaliable"><span class="date">1</span></td>
    <td><span class="date">2</span></td>
    <td><span class="date">3</span></td>
    <td class="avaliable"><span class="date">4</span></td>
    <td><span class="date">5</span></td>
</tr>
<tr>
    <td><span class="date">6</span></td>
    <td class="avaliable"><span class="date">7</span></td>
    <td><span class="date">8</span></td>
    <td><span class="date">9</span></td>
    <td><span class="date">10</span></td>
    <td><span class="date">11</span></td>
    <td><span class="date">12</span></td>
</tr>
<tr>
    <td><span class="date">13</span></td>
    <td><span class="date">14</span></td>
    <td><span class="date">15</span></td>
    <td><span class="date">16</span></td>
    <td><span class="date">17</span></td>
    <td><span class="date">18</span></td>
    <td><span class="date">19</span></td>
</tr>
<tr>
    <td><span class="date">20</span></td>
    <td><span class="date">21</span></td>
    <td><span class="date">22</span></td>
    <td><span class="date">23</span></td>
    <td><span class="date">24</span></td>
    <td><span class="date">25</span></td>
    <td><span class="date">26</span></td>
</tr>
<tr>
    <td><span class="date">27</span></td>
    <td><span class="date">28</span></td>
    <td><span class="date">29</span></td>
    <td><span class="date">30</span></td>
    <td><span class="date">31</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
</tr>
</table>
<p><div class="title">April 2016</div>
<table border="1" align="center">
<tr>
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
</tr>
<tr>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">&nbsp;</span></td>
    <td><span class="date">1</span></td>
    <td><span class="date">2</span></td>
</tr>
<tr>
    <td><span class="date">3</span></td>
    <td><span class="date">4</span></td>
    <td><span class="date">5</span></td>
    <td class="avaliable"><span class="date">6</span></td>
    <td><span class="date">7</span></td>
    <td><span class="date">8</span></td>
    <td><span class="date">9</span></td>
</tr>
<tr>
    <td><span class="date">10</span></td>
    <td><span class="date">11</span></td>
    <td><span class="date">12</span></td>
    <td><span class="date">13</span></td>
    <td><span class="date">14</span></td>
    <td><span class="date">15</span></td>
    <td><span class="date">16</span></td>
</tr>
<tr>
    <td><span class="date">17</span></td>
    <td><span class="date">18</span></td>
    <td><span class="date">19</span></td>
    <td><span class="date">20</span></td>
    <td><span class="date">21</span></td>
    <td><span class="date">22</span></td>
    <td><span class="date">23</span></td>
</tr>
<tr>
    <td><span class="date">24</span></td>
    <td><span class="date">25</span></td>
    <td><span class="date">26</span></td>
    <td><span class="date">27</span></td>
    <td><span class="date">28</span></td>
    <td><span class="date">29</span></td>
    <td><span class="date">30</span></td>
</tr>
</table>

<!--
<p><div class="footer">
Generated by <a href="http://freehtmlcalendar.com">FreeHTMLCalendar.com</a> Copyright &copy; 2011 John Dalbey.</div> -->


	<tr>
  		<label for="questions">What are you interested in learning about?</label>
 	</tr>
 	<tr></br>
  		<textarea  name="Questions" maxlength="1000" cols="25" rows="6"></textarea>
	</tr>
	</table>
</form>
<a href="/done" class="myButton">Create appointment</a>
</div>
