<body>
<header>
<div class="nav">
          <ul>
          <div class="container">     
            <div class="row">
                <div class="col-xs-4 col-md-4">
            <li class="myprofile"><a href="#">Profile</a></li>
                </div>
                <div class="col-xs-4 col-md-4">
            <li class="myschools"><a href="#">My Schools</a></li>
                </div>
                <div class="col-xs-4 col-md-4">
            <li class="myappointments"><a href="#">Appointments</a></li>
                </div>
            </div>
        </div>
          </ul>
        </div>
    </header>

<h1><a href="/"> Pierre! </a></h1>
<div class="schoollogo"> 
	<img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/UCSD_logo.png" alt="" height="75%" width="75%"> </div>
<h3> Click on a student if you want to ask them a question!</h3>

	<div class="student">
		<div id="stuPicture">
			<img src="http://cdn.shopify.com/s/files/1/0213/2686/products/TO_HashtagTriton_01_grande.jpg?v=1397167998" alt=""width="100px">
		</div>
		
		<div class="studentname">
			<a href="/student"> Sally Yu</a>
		</div>
		<ul>
			<li> 3rd Year </li>
			<li> Major: Psychology </li>
			<li> College: Revelle College </li>
			<li> Greek Sorority: Delta Gamma </li>
			<li> Extracurriculars: Tennis, Undergraduate Researcher </li>
			<li> Lives: On-Campus Apartments </li>
		</ul>
	</div>

	<div class="student">
		<div id="stuPicture">
			<img src="http://cdn.shopify.com/s/files/1/0213/2686/products/TO_SpiritSweater_grande.jpg?v=1366404617" alt=""width="100px">
		</div>
		<div class="studentname">
			<a href="#"> Dave Young</a>
		</div>
		<ul>
			<li> 2nd Year </li>
			<li> Major: Biology </li>
			<li> College: Sixth College </li>
			<li> Greek Fraternity: Pi Kappa Alpha </li>
			<li> Extracurriculars: Ultimate Frisbee</li>
			<li> Lives: Off-Campus Apartments </li>
		</ul>
	</div>

	<div class="student">
		<div id="stuPicture">
			<img src="http://cdn.shopify.com/s/files/1/0213/2686/products/TO_HashtagTriton_01_b8b17631-824c-494f-820a-47f568557fb8_grande.jpg?v=1402964645" alt=""width="100px">
		</div>
		<div class="studentname">
			<a href="#"> Andrew Walker</a>
		</div>
		<ul>
			<li> 4th Year </li>
			<li> Major: Computer Science </li>
			<li> College: Muir College </li>
			<li> Extracurriculars: Basketball</li>
			<li> Lives: On-Campus Apartments </li>
		</ul>
	</div>

<footer>
    <div class="nav">
            <ul>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="./about"> About Us </a></p>
                        </div>      
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="./faq">FAQ </a></p>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <p> <a href="./contactus"> Contact Us </a></p>
                        </div>
                    </div>
                </div>
            </ul>        
    </div>
</footer>

</body>