body{
  background-color: #F1F1F1;
}

a:link{
	text-decoration: none;

}
 
.nav ul {
  list-style: none;
  background-color: #666666;
  text-align: center;
  font-size: 0.8em;
  padding: 0px;
  margin: 0;
}
.nav li {
  font-family: 'Arial', sans-serif;
  text-align: -4;
  font-size: 1.0em;
  line-height: 60px;
  height: 40px;
  border-top:1px solid #888;
  border-left: 1px solid #888;
  border-right:1px solid #888;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 0.9em;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #0DAFDD;
}
 
 
@media screen and (min-width: 50px) {
  .nav li {
    width: 100px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: 0px;
  }


/********************************
 browse.handlebars
 ********************************/

.browse-background {
  height: inherit;
  width: inherit;
  z-index: -5;
}

.navbar {
  height: 65px;
  background-color: white;
}

.browse-container {
  margin-left: 50px;
  margin-right: 50px;
}

.browse-college-item {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 145px;
  width: 380px;
  background-color: white;
}

.browse-college-img {
  float: left;
  height: inherit;
  width: 145px;
}

.browse-college-img > img{
  width: 100%;
  height: 100%;
}

.browse-college-info {
  float: left;
  height: inherit; 
  margin-left: 15px;
  margin-top: 5px;
  text-align: left;
  font-weight: 200;
}

.browse-college-name{
  color: #4A90E2;
  font-size: 24px;
}

.browse-college-location {
  color: #4A4A4A;
  font-size: 14px;
}

.browse-college-text {
  margin-top: 3px;
  font-size: 12px;
  line-height: 25px;
}

.browse-college-text > span {
  margin-left: 7px;
}