body{
  background-color: #F1F1F1;
}

a:link{
	text-decoration: none;

}


/********************************
 Navbar
 Taken from http://codepen.io/zmeeey5/pen/avyEje
 ********************************/

header{
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;

  background-color: #EB7E7E;
  color: white;
}

.site-title {
  z-index: 10;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 20px;
}

.site-title > a {
  color: white;
}

.nav-toggle{
  z-index: 10;
  cursor: pointer;
}

nav li {
  font-weight: 700;
  list-style: none;
}

nav ul{
  padding: 5px 0;
}

.nav-wrapper {
  position: absolute;
  width: inherit;
  background-color: #EB7E7E;
}

.main-navigation{
  position: absolute;
  z-index: -1;

  width: 100%;

  background: #EB7E7E;
  color: white;

  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}

.main-navigation.open{
  transform: translateY(0%);
}

.main-navigation ul a{
  padding: 10px 20px;
  display: block;
  color: white;
}

.main-navigation ul a:hover{
  background: #EB7E7E;
}

/****hamburger****/
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 30px;
  height: 25px;
  position: relative;
  margin: -20px 30px auto auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;

}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 8px;
}

#nav-icon1 span:nth-child(3) {
  top: 16px;
}

#nav-icon1.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/********************************
 layout.handlebars
 ********************************/

.body-container {
  /* Size of navbar */
  margin-top: 50px;
}


/********************************
 index.handlebars
 ********************************/

.home-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 45px;
  text-align: center;
  background-color: #7A7373;
  color: white;
}

.home-intro-text {
  width: 45%;
  margin-top: 50px;
  /* Use rgba because of z index bug */
  color: rgba(255, 255, 255, 0.75);
}

.home-slogan {
  font-size: 22px;
  margin-bottom: 20px;
}

.home-slogan-details {
  font-size: 14px;
  margin-bottom: 60px;
}

.rounded-outline-button {
}

.rounded-outline-button > a{
  display: inline-block;
  width: 180px;

  padding: 14px 28px 13px;

  letter-spacing: 1px;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;

  background: transparent;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
}

.home-guide-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #F4F4F4;
}

.home-guide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.home-guide-item {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 15px;
}

.home-guide-img {
  align-self: flex-end;
  width: 50px;
  margin-bottom: 12px;
  margin-left: 25px;
  margin-right: 35px;
}

.home-guide-img > img {
  width: 100%;
}

.home-guide-text {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.home-guide-name {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}

.home-guide-desc {
  font-size: 12px;
  color: #818181;
}

.home-start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: white;
}

.home-start-text {
  width: 200px;
  text-align: center;
  color: #818181;
  margin-bottom: 25px;
}

.home-start-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.home-start-details {
  font-size: 14px;
}

.home-start-button.rounded-button {
  width: 250px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: inherit;
}

.home-start-text-or {
  font-size: 14px;
  color: #818181;
  margin-bottom: 15px;
}


.line{
  width: 100px;
  height:1px;
  background:#7D7C7C;
  position: relative;
}

.browse-background, .appointment-item{
  width: 315px;
  height: 150px;
  padding-top:10px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}


.browse-college-info,.appointment-info{
left: 135px;
top:-130px;
width:180px;
word-wrap: break-word;;
position:relative;
}


.appointment-info{
  font-size: 1.0em;
}


/*
.browse-college-item{
  background-color: white;
  height:auto;
  padding-bottom: 20px;
} */
/********************************
 browse.handlebars
 ********************************


.browse-background {
  height: inherit;
  width: inherit;
  z-index: -5;
}

.navbar {
  height: 65px;
  background-color: white;
}

.browse-container {
  margin-left: 50px;
  margin-right: 50px;
}

.browse-college-item {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 145px;
  width: 380px;
  background-color: white;
}

.browse-college-img {
  float: left;
  height: inherit;
  width: 145px;
}

.browse-college-img > img{
  width: 100%;
  height: 100%;
}

.browse-college-info {
  float: left;
  height: inherit;
  margin-left: 15px;
  margin-top: 5px;
  text-align: left;
  font-weight: 200;
}

.browse-college-name{
  color: #4A90E2;
  font-size: 16px;
}

.browse-college-location {
  color: #4A4A4A;
  font-size: 14px;
}

.browse-college-text {
  margin-top: 3px;
  font-size: 12px;
  line-height: 25px;
}

.browse-college-text > span {
  margin-left: 7px;
} */

/********************************
 college pages: ucsd.handlebars, stanford.handlebars, etc
 ********************************/

.student{
  width: 290px;
  height: auto;
  background-color: white;
  padding-top:10px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}
.student li {
  text-align: left;
}
#stuPicture p{
  text-align:center;
}
.studentname{
  text-align: center;
  text-decoration: underline;
}

.appointmentform{
  margin-left: 20px;
  text-align: center;
}

p.faq, h3.question{
  margin: 20px;
  text-align: justify;
}
p.aboutus{
  margin: 20px;
}

.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
  background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
  background-color:#3d94f6;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #337fed;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #1570cd;
  margin: 20px;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
  background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
  background-color:#1e62d0;
}
.myButton:active {
  position:relative;
  top:1px;
}


#searchbar{
  margin-top: 15px;
  width: 110px;
  text-align: center;
}

.schoollogo{
  margin: 20px;
}

/********************************
 dashboard.handlebars
 ********************************

 .appointment-item {
    // display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 145px;
    width: 380px;
    background-color: white;
 }

.appointment-img {
  float: left;
  height: inherit;
  width: 145px;
}

.appointment-img > img{
  width: 100%;
  height: 100%;
}

.appointment-info {
  float: left;
  height: inherit;
  margin-left: 15px;
  margin-top: 5px;
  text-align: left;
  font-weight: 200;
}

.appointment-student-name{
  color: #4A90E2;
  font-size: 16px;
}

.appointment-student-college {
  color: #4A4A4A;
  font-size: 14px;
}

.appointment-text {
  margin-top: 3px;
  font-size: 12px;
  line-height: 25px;
}

.appointment-text > span {
  margin-left: 7px;
}

.appointment-text > span > strong + span{
  margin-left: 2px;
}

/********************************
 create_account_mentee.handlebars
 ********************************/

 .create-account-container {
  margin-left: 50px;
  margin-right: 50px;
}

.create-form-item {
  margin-bottom: 20px;
}

 .create-form-bio {
  height: 200px;
  width: 400px;
 }


.title{
  height:50px;
  width:auto;
  background-color: white;
  padding-top: 15px;
  font-size: 16px;
  font-weight: bold;
}

.pagecolor{
  color:#ED7F82;
}

.studentbio{
  background-color: #F4F4F4;
}
.appointment-bg, .stu-name, .ucsd_2{
  background-color: white;
}
.formh6, .create-form-item{
  color: #ED7F82;
  font-weight: bold;
}

.roundbutton{
    color: #FFFFFF;
    background: #ED7F82;
    border: 5px;
    border-radius: 25px;
    padding: 10px;
}

.roundbutton2{
    color: #FFFFFF;
    background: #ED7F82;
    border: 5px;
    border-radius: 25px;
    padding: 10px;
    border: 2px solid;
    font-size: 10px;
}
.notavalibutton{
    background-color: #FFFFFF;
    color: #808080;
    border: 5px;
    border-radius: 25px;
    padding: 10px;
    border: 2px solid;
    font-size: 10px;
}
.avalibutton{
    color: #ED7F82;
    background: #FFFFFF;
    border: 5px;
    border-radius: 25px;
    padding: 10px;
    border: 2px solid;
    font-size: 10px;
}

.footer{
  color: white;
  background: #ED7F82;
  overflow: hidden;
  white-space: nowrap;
}

/********************************
 studentpage.handlebars
 ********************************/

.studentpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: initial;
  color: #333333;
}

.studentpage-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding-bottom: 15px;

  background-color: white;
}

.studentpage-img {
  margin-top: 15px;
  width: 250px;
}

.studentpage-img > img {
  height: 100%;
  width: 100%;
}

.studentpage-img-name {
  margin-top: 20px;

  font-weight: bold;
  font-size: 22px;
}

.studentpage-img-college {
  font-size: 17px;
}

.studentpage-img-location{
  font-size: 15px;
}
.studentpage-img-college_2{
  font-size: 12px;
  text-align: justify;
  width: 280px;
  height: 150px;
  margin-top: 10px;
}

.studentpage-bio {
  width: 290px;
  padding-bottom: 25px;
  font-size: 14px;
}

.studentpage-bio b {
  font-size: 18px;
}

.studentpage-bio > div {
  margin-top: 20px;
}

div.studentpage-divider {
    height: 1px;
    width: 200px;

    border-bottom: 1px solid #979797;
}

.studentpage-question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  margin-top: 30px;
}

.studentpage-question-container > textarea {
  height: 150px;
  width: inherit;
  margin-top: 10px;
  margin-bottom: 40px;
}

.studentpage-appointment-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding-bottom: 25px;

  background-color: white;
}

.studentpage-appointment-text {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.studentpage-apt-title {
  margin-bottom: 15px;
  font-size: 22px;
}

.studentpage-apt-details {
  font-size: 14px;
}

.studentpage-appointments {
  padding-bottom: 15px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.studentpage-apt-select {
  -webkit-appearance: none;
  appearance: none;

  margin-left: 10px;
  margin-bottom: 15px;
  padding-right: 15px;

  background: url("../images/nav-arrow.png") no-repeat transparent;
  background-position: 100% 80%;
  background-size: 10px;

  border: none;
  cursor: pointer;

  font-size: 14px;
  font-weight: 700;
}

.rounded-select-button, .rounded-select-button:focus {
  -webkit-appearance: none;
  apperance: none;
  display: inline-block;

  padding: 11px 11px 11px;

  background: 0 0;
  border: 2px solid #EB7E7E;
  border-radius: 25px;

  color: #EB7E7E;
  line-height: 1;
  font-size: 11px;
  font-weight: 500;

  transition: all .3s ease;
}


.rounded-select-button:hover{
  background: #EB7E7E;
  border-color: #EB7E7E;
  color: white;
}

input[type="radio"].apt-radio {
  display: none;
}

input[type="radio"]:checked.apt-radio ~ .rounded-select-button {
  background: #EB7E7E;
  border-color: #EB7E7E;
  color: white;
}


.studentpage-apt-confirm-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 250px;
  margin-top: 25px;

  text-align: center;
  background-color: white;
}

.studentpage-apt-confirm-title {
  margin-bottom: 15px;
  font-size: 22px;
}

.studentpage-apt-confirm-details {
  margin-bottom: 15px;
  font-size: 14px;
}

.studentpage-apt-confirm-time {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}

.rounded-button {
  display: inline-block;

  margin-bottom: 30px;
  padding: 14px 28px 13px;

  letter-spacing: 1px;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;

  background: #EB7E7E;
  border: 2px solid #EB7E7E;
  border-radius: 25px;
  color: white;
}

.rounded-button > a {
  color: white;
  font-weight: inherit;
}

/* alternative redesign */
.browse-ucsd-img{
  position: absolute;
  top: 175px;
}

.browse-college-text2{
  font-size: 12px;
}
.img-border{
  border: 2px solid white;
}

.college-info{
  display: inline-block;
}

.browse-items{
  left:120px;
  height:50px;
}
.mentors{
  width: 175px;
}
