body{
  background-color: #F1F1F1;
}

a:link{
	text-decoration: none;

}

.nav ul {
  list-style: none;
  background-color: #666666;
  text-align: center;
  font-size: 0.7em;
  padding: 0px;
  margin: 0;
}
.nav li {
  font-family: 'Arial', sans-serif;
  text-align: -4;
  font-size: 1.0em;
  line-height: 60px;
  height: 40px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 0.9em;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #0DAFDD;
}


@media screen and (min-width: 50px) {
  .nav li {
    width: 100px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: 0px;
  }

/********************************
 browse.handlebars
 ********************************/

.browse-background {
  height: inherit;
  width: inherit;
  z-index: -5;
}

.navbar {
  height: 65px;
  background-color: white;
}

.browse-container {
  margin-left: 50px;
  margin-right: 50px;
}

.browse-college-item {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 145px;
  width: 380px;
  background-color: white;
}

.browse-college-img {
  float: left;
  height: inherit;
  width: 145px;
}

.browse-college-img > img{
  width: 100%;
  height: 100%;
}

.browse-college-info {
  float: left;
  height: inherit;
  margin-left: 15px;
  margin-top: 5px;
  text-align: left;
  font-weight: 200;
}

.browse-college-name{
  color: #4A90E2;
  font-size: 16px;
}

.browse-college-location {
  color: #4A4A4A;
  font-size: 14px;
}

.browse-college-text {
  margin-top: 3px;
  font-size: 12px;
  line-height: 25px;
}

.browse-college-text > span {
  margin-left: 7px;
}


.browse-college-item{
  background-color: white;
}

/********************************
 college pages: ucsd.handlebars, stanford.handlebars, etc
 ********************************/

.student{
  width: 290px;
  height: auto;
  border: solid 1px ;
  box-shadow: 0px 3px 5px 1px silver;
  padding-top:10px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}
.student li {
  text-align: left;
}
#stuPicture,p{
  text-align:center;
}
.studentname{
  text-align: center;
  text-decoration: underline;
}

.appointmentform{
  margin-left: 20px;
  text-align: center;
}

p.faq, h3.question{
  margin: 20px;
  text-align: justify;
}
p.aboutus{
  margin: 20px;
}

.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
  background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
  background-color:#3d94f6;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #337fed;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #1570cd;
  margin: 20px;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
  background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
  background-color:#1e62d0;
}
.myButton:active {
  position:relative;
  top:1px;
}

td.avaliable{
  background-color: #33ccff;
}

td.avaliabilitybox{
  background-color: #33ccff;
  height:20px;
  width:20px;
  border:solid 1px;
}

#searchbar{
  margin-top: 15px;
}

.schoollogo{
  margin: 20px;
}
